<a href="https://colab.research.google.com/github/carlosarreguib/PROYECTO_1/blob/Carlos_Arregui/Proyecto_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
# Importamos las librerias pandas y matplot
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression

# Creamos el dataframe con el archivo csv de Kaggle
df = pd.read_csv("/content/Barcelona_Fotocasa_HousingPrices.csv")
df

,Unnamed: 0,price,rooms,bathroom,lift,terrace,square_meters,real_state,neighborhood,square_meters_price
0,0,750,3,1,True,False,60,flat,Horta- Guinardo,12.500000
1,1,770,2,1,True,False,59,flat,Sant Andreu,13.050847
2,2,1300,1,1,True,True,30,flat,Gràcia,43.333333
3,3,2800,1,1,True,True,70,flat,Ciutat Vella,40.000000
4,4,720,2,1,True,False,44,flat,Sant Andreu,16.363636
...,...,...,...,...,...,...,...,...,...,...
8183,8183,1075,2,2,False,False,65,flat,Gràcia,16.538462
8184,8184,1500,3,2,True,False,110,flat,Eixample,13.636364
8185,8185,1500,2,2,True,True,90,flat,Sarria-Sant Gervasi,16.666667
8186,8186,1500,3,2,True,False,110,flat,Eixample,13.636364
8187,8187,1500,3,2,True,False,110,flat,Eixample,13.636364

In [18]:
df_grupo_barrio = df.groupby('neighborhood')['price'].mean()
df_grupo_barrio

neighborhood
Ciutat Vella           1205.523810
Eixample               1592.147022
Gràcia                 1185.434593
Horta- Guinardo         903.453968
Les Corts              1610.748092
Nou Barris              807.921053
Sant Andreu             899.657303
Sant Martí             1434.876823
Sants-Montjuïc         1028.233898
Sarria-Sant Gervasi    1910.835960
Name: price, dtype: float64